@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

.header {
  background-image: url(images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 100px 0;
  margin-bottom: 160px;
}

.header header {
  margin-bottom: 125px;
}

.header .content {
  max-width: 1115px;
  margin: 0 auto;
}

.header h1 {
  width: 65%;
  border: 2px solid white;
  padding: 38px 39px 28px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  font-size: 5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 500px;
}

nav.nav-menu a {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 25px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
  position: relative;
}

nav.nav-menu a:last-child {
  margin-right: 0;
}

nav.nav-menu a::before {
  content: '';
  background: white;
  height: 1px;
  width: 50%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 25%;
}

nav.nav-menu a:hover::before {
  opacity: 1;
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 5%;
  margin-bottom: 125px;
}

.main-body .main-img {
  z-index: 1;
  max-width: 100%;
  position: relative;
  padding-left: 190px;
}

.main-body .main-img img {
  max-width: 100%;
}

.main-body .main-text {
  position: relative;
  background-color: white;
  z-index: 2;
  margin-left: -150px;
  padding: 95px 0 0 95px;
  font-weight: 300;
  width: 50%;
}

.main-body .main-text h2 {
  font-size: 4em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.main-body .main-text p {
  color: #8c8c8c;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 2px;
  margin-top: 26px;
  padding-right: 28%;
}

.products {
  margin-bottom: 100px;
}

.products .title-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 190px;
  padding-left: 190px;
}

.products .title-product h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3.5em;
  text-transform: uppercase;
}

.products .btn {
  background: white;
  font-family: "Alata", sans-serif;
  color: black;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 35px;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px 38px;
  cursor: pointer;
}

.products .btn:hover {
  background: black;
  color: white;
}

.product-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 190px;
  padding-left: 190px;
}

.product-container .content-item {
  max-width: 250px;
  height: 450px;
  margin-bottom: 25px;
  margin-left: 30px;
  cursor: pointer;
  width: 100%;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}

.product-container .content-item .img-product {
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-container .content-item .img-product:hover {
  opacity: 0.3;
}

.product-container .content-item .img-product .description p {
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 40px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.5em;
  color: white;
  display: inline-block;
}

.product-container .content-item .img-product .description p:hover {
  opacity: 1;
  color: black;
  font-weight: 700;
}

.product-container .content-item:nth-child(1) .img-product {
  background-image: url(../images/desktop/image-deep-earth.jpg);
}

.product-container .content-item:nth-child(2) .img-product {
  background-image: url(../images/desktop/image-night-arcade.jpg);
}

.product-container .content-item:nth-child(3) .img-product {
  background-image: url(../images/desktop/image-soccer-team.jpg);
}

.product-container .content-item:nth-child(4) .img-product {
  background-image: url(../images/desktop/image-grid.jpg);
}

.product-container .content-item:nth-child(5) .img-product {
  background-image: url(../images/desktop/image-from-above.jpg);
}

.product-container .content-item:nth-child(6) .img-product {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
}

.product-container .content-item:nth-child(7) .img-product {
  background-image: url(../images/desktop/image-curiosity.jpg);
}

.product-container .content-item:nth-child(8) .img-product {
  background-image: url(../images/desktop/image-fisheye.jpg);
}

footer {
  background: black;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

footer .left-footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 190px;
}

footer .logo {
  display: inline-block;
  width: 150px;
}

footer .logo img {
  width: 100%;
}

footer .nav-left-footer {
  border: 2px solid black;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 0;
}

footer .nav-left-footer a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  margin: 15px 25px 15px 0;
  color: white;
  font-size: 1.3em;
  position: relative;
}

footer .nav-left-footer a:last-child {
  margin-right: 0;
}

footer .nav-left-footer a::before {
  content: '';
  background: white;
  height: 1px;
  width: 50%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 25%;
}

footer .nav-left-footer a:hover::before {
  opacity: 1;
}

footer .right-footer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 190px;
}

footer .right-footer .nav-right-footer {
  padding-left: 190px;
}

footer .right-footer .nav-right-footer a {
  display: inline-block;
  position: relative;
  margin-right: 25px;
  padding-bottom: 5px;
}

footer .right-footer .nav-right-footer a:last-child {
  margin-right: 0;
}

footer .right-footer .nav-right-footer a::before {
  content: '';
  background: white;
  height: 1px;
  width: 50%;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 25%;
}

footer .right-footer .nav-right-footer a:hover::before {
  opacity: 1;
}

footer .right-footer .nav-right-footer img {
  max-width: 100%;
  max-height: 100%;
}

footer .right-footer .copyright {
  color: white;
  font-size: 1.3em;
  margin-right: 25px;
  padding-left: 100px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 1115px) {
  .main-img {
    padding: 0 24px;
  }
}
/*# sourceMappingURL=main.css.map */
